CONNECTION_STRINGS_SQLITE="Data Source=/app/data/desic.db;"
DB_PASSWORD_APP=2d4ba4c0-6cd1-4c7c-b08c-0db156c44116
DB_PASSWORD_MIGRATIONS=4be55771-1b77-41ef-9a98-6c5d1774fbf9
DB_USER_APP=AppUser
DB_USER_MIGRATIONS=sa
#dependent settings
CONNECTION_STRINGS_SQLSERVER_APP=Server=sqlserver,1433;Database=Desic;UID=${DB_USER_APP};Password=${DB_PASSWORD_APP};TrustServerCertificate=True;
CONNECTION_STRINGS_SQLSERVER_MIGRATIONS=Server=sqlserver,1433;Database=Desic;UID=${DB_USER_MIGRATIONS};Password=${DB_PASSWORD_MIGRATIONS};TrustServerCertificate=True;